@import "../../../styles/variables/variables";

body {
    background-image: $background-gradient;
    .add-post-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;
        color: #dadada;

        .toggle-youtube-input-btn {
            display: block;
            position: relative;
            width: 275px;
            height: auto;
            padding: 15px;
            border-radius: 25px;
            background: #f9f9f9;
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #1c76d2;
            font-weight: bold;
            cursor: pointer;
            transition: transform 0.2s ease-out;
            margin: 15px 0px;
        }

        .youtube-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;

            input {
                width: 300px;
            }

            .submit-youtube-btn {
                display: block;
                position: relative;
                width: 150px;
                height: auto;
                padding: 10px;
                border-radius: 25px;
                background: #1c76d2;
                box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                color: #f9f9f9;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.2s ease-out;
                margin-top: 15px;

                -webkit-animation: glowing 1500ms infinite;
                -moz-animation: glowing 1500ms infinite;
                -o-animation: glowing 1500ms infinite;
                animation: glowing 1500ms infinite;

                @-webkit-keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        -webkit-box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        -webkit-box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        -webkit-box-shadow: 0 0 3px #15a9dc;
                    }
                }

                @-moz-keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        -moz-box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        -moz-box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        -moz-box-shadow: 0 0 3px #15a9dc;
                    }
                }

                @-o-keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                }

                @keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                }
            }
        }

        .imageupload-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .upload-image-btn {
                display: block;
                position: relative;
                width: 150px;
                height: auto;
                padding: 5px;
                border-radius: 25px;
                background: #1c76d2;
                box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #f9f9f9;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.2s ease-out;
                margin-top: 15px;
            }
        }

        .imageupload__progress {
            width: 100%;
        }
    }

    .textField {
        width: 100%;
    }
}
