@import "./variables/variables";

.wallet-item-container {
    margin-top: 15px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 6px -2px #000;

    .item-header {
        background-color: #203158;
        width: 100%;
        height: 50px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
    }

    .body-wrapper {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #f1f1f1;

        .phone {
            transform: rotate(90deg);
            color: slategray;
            font-size: 2em;
        }

        .shopping-cart {
            color: slategray;
            font-size: 2em;
        }

        .body-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
        }
    }

    .footer {
        height: 50px;

        .redeem-btn {
            background-color: #15a9dc;
            font-family: "Quicksand";
            color: #ffffff;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: none;
            font-size: 20px;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            -webkit-animation: glowing 1500ms infinite;
            -moz-animation: glowing 1500ms infinite;
            -o-animation: glowing 1500ms infinite;
            animation: glowing 1500ms infinite;
            margin-top: 9px;
            @-webkit-keyframes glowing {
                0% {
                    background-color: #15a9dc;
                    -webkit-box-shadow: 0 0 3px #15a9dc;
                }
                50% {
                    background-color: #15a9dc;
                    -webkit-box-shadow: 0 0 40px #15a9dc;
                }
                100% {
                    background-color: #15a9dc;
                    -webkit-box-shadow: 0 0 3px #15a9dc;
                }
            }
            @-moz-keyframes glowing {
                0% {
                    background-color: #15a9dc;
                    -moz-box-shadow: 0 0 3px #15a9dc;
                }
                50% {
                    background-color: #15a9dc;
                    -moz-box-shadow: 0 0 40px #15a9dc;
                }
                100% {
                    background-color: #15a9dc;
                    -moz-box-shadow: 0 0 3px #15a9dc;
                }
            }
            @-o-keyframes glowing {
                0% {
                    background-color: #15a9dc;
                    box-shadow: 0 0 3px #15a9dc;
                }
                50% {
                    background-color: #15a9dc;
                    box-shadow: 0 0 40px #15a9dc;
                }
                100% {
                    background-color: #15a9dc;
                    box-shadow: 0 0 3px #15a9dc;
                }
            }
            @keyframes glowing {
                0% {
                    background-color: #15a9dc;
                    box-shadow: 0 0 3px #15a9dc;
                }
                50% {
                    background-color: #15a9dc;
                    box-shadow: 0 0 40px #15a9dc;
                }
                100% {
                    background-color: #15a9dc;
                    box-shadow: 0 0 3px #15a9dc;
                }
            }
        }
    }
}
