@import "../variables/variables";

.edit-shop-container {
    display: flex;
    justify-content: space-between;
    .edit-shop-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: min-content;
        margin: 100px 15px;
    }
    .product-list-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: min-content;
        margin: 100px 35px;

        .product-list-header {
            display: flex;
            width: 100%;
            padding: 10px 15px;
            justify-content: space-between;
            align-items: center;
        }
    }
}
