@import "../../../styles/variables/variables";

body {
    background-image: $background-gradient;
}

.profile-container {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-body-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 100%;

            a {
                text-decoration: none;
            }

            .edit-profile-btn {
                display: block;
                position: relative;
                width: 150px;
                height: 40px;
                border-radius: 25px;
                background: #f9f9f9;
                box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #1c76d2;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.2s ease-out;
                margin: 25px 0px 25px;
            }
        }

        .post-shoutout__wrapper {
            a {
                text-decoration: none;
            }
            .post-shoutout-btn {
                display: block;
                position: relative;
                width: 225px;
                height: 70px;
                border-radius: 25px;
                background: #15a9dc;
                box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                color: #f9f9f9;
                font-weight: bold;
                cursor: pointer;
                transition: transform 0.2s ease-out;
                margin-top: 15px;
                text-align: center;

                -webkit-animation: glowing 1500ms infinite;
                -moz-animation: glowing 1500ms infinite;
                -o-animation: glowing 1500ms infinite;
                animation: glowing 1500ms infinite;

                @-webkit-keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        -webkit-box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        -webkit-box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        -webkit-box-shadow: 0 0 3px #15a9dc;
                    }
                }

                @-moz-keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        -moz-box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        -moz-box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        -moz-box-shadow: 0 0 3px #15a9dc;
                    }
                }

                @-o-keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                }

                @keyframes glowing {
                    0% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                    50% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 40px #15a9dc;
                    }
                    100% {
                        background-color: #15a9dc;
                        box-shadow: 0 0 3px #15a9dc;
                    }
                }
            }
        }
    }
}
