@import "../../../styles/variables/variables";

.profile-body__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
    }

    .profile__personal-details {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin: 5px 0px;
        }
        .name {
            font-weight: bold;
            margin-top: 20px;
        }

        .handle {
            font-style: italic;
        }

        .emai {
            color: lightgrey;
        }
    }

    .socials__wrapper {
        margin-top: 15px;

        .facebook {
            color: #1877f2;
        }
        .instagram {
            color: #e4405f;
        }
        .linkedin {
            color: #0a66c2;
        }
        .twitter {
            color: #1da1f2;
        }
        .youtube {
            color: #cd201f;
        }
        .github {
            color: #34465d;
        }
        .web {
            color: #0061ff;
        }
    }
}
