@import "../../../styles/variables/variables";

.profile-container {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-body-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            width: 100%;
        }
    }
}
