@import "../variables/variables";

.profile-container {
    position: relative;
    top: 100px;

    .profile-body-wrapper {
        display: flex;
        margin-top: 30px;
        margin: 10px 50px;
    }
}
